SimTabGroup.java svn-properties=svn:keywords=Date Revision
SimShortcut.java svn-properties=svn:keywords=Date Revision
SimMainTab.java svn-properties=svn:keywords=Date Revision
DebugShortcut.java svn-properties=svn:keywords=Date Revision
