<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target includeMode="feature" name="com.chipcraftic.eplugin" sequenceNumber="33">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/releases/oxygen"/>
			<unit id="org.eclipse.platform.sdk" version="4.7.3.M20180330-0640"/>
			<unit id="org.eclipse.cdt.sdk.feature.group" version="9.4.3.201802261533"/>
			<unit id="org.eclipse.cdt.build.crossgcc.feature.group" version="9.4.3.201802261533"/>
			<unit id="org.eclipse.cdt.debug.gdbjtag.feature.group" version="9.4.3.201802261533"/>
			<unit id="org.eclipse.launchbar.feature.group" version="2.2.0.201711162100"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.13.4.v20180322-2228"/>
			<unit id="org.eclipse.pde.source.feature.group" version="3.13.4.v20180330-0640"/>
		</location>
		<location path="${workspace_loc:com.chipcraftic.eplugin.target}/plugins" type="Directory"/>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.cdt.build.crossgcc.source.feature.group" version="9.4.3.201802261533"/>
			<unit id="org.eclipse.cdt.debug.gdbjtag.source.feature.group" version="9.4.3.201802261533"/>
			<unit id="org.eclipse.launchbar.source.feature.group" version="2.2.0.201711162100"/>
			<repository location="http://download.eclipse.org/tools/cdt/releases/9.4"/>
		</location>
	</locations>
	<environment>
		<os>win32</os>
		<arch>x86</arch>
		<ws>win32</ws>
	</environment>
</target>