Messages.java svn-properties=svn:keywords=Date Revision
CcConstants.java svn-properties=svn:keywords=Date Revision
CcUtils.java svn-properties=svn:keywords=Date Revision
ProjectNature.java svn-properties=svn:keywords=Date Revision
ProjectConfig.java svn-properties=svn:keywords=Date Revision
CcPlugin.java svn-properties=svn:keywords=Date Revision
