TermConsole.java svn-properties=svn:keywords=Date Revision
ProcessConsole.java svn-properties=svn:keywords=Date Revision
DebugServerConsolePageParticipant.java svn-properties=svn:keywords=Date Revision
ProcessConsoleContext.java svn-properties=svn:keywords=Date Revision
ProcessConsoleListener.java svn-properties=svn:keywords=Date Revision
TermConsolePageParticipant.java svn-properties=svn:keywords=Date Revision
BuildConsole.java svn-properties=svn:keywords=Date Revision
DebugServerConsole.java svn-properties=svn:keywords=Date Revision
ProgConsole.java svn-properties=svn:keywords=Date Revision
