CcsdkProjectOptionsPage.java svn-properties=svn:keywords=Date Revision
FileLocationArea.java svn-properties=svn:keywords=Date Revision
DirectoryLocationArea.java svn-properties=svn:keywords=Date Revision
NewCcsdkProjectWizard.java svn-properties=svn:keywords=Date Revision
